#whoami {
    margin : 10px;
}

.txtabt {
    margin: 40px;
}

.balance {
    display: grid;
    grid-template-columns: repeat(3, auto);

}

.path, .hobbies {
    padding : 20px;
    border: 3px solid rgb(49, 49, 49);
    border-radius: 4px;
    background-color: rgb(221, 205, 174);
    border-left : 10px solid rgb(49, 49, 49);
    border-bottom : 10px solid rgb(49, 49, 49);
    border-block-start-color: rgb(156, 114, 0);
    border-right-color: rgb(156, 114, 0);
    

}

.path {
    margin-left : 13px;
}
.hobbies{
    margin-right: 13px;
}

.separator {
    background-color: rgb(145, 125, 72);
    
    border-radius : 10%;
    width : 10px;
    height : auto;
    margin-left : 10px;
    margin-right : 10px;
    
}


@media screen and (max-width: 400px) {
    .balance{
        
    }
}
