.whoami {
    margin : 10px;
}

.txtabt {
    margin: 40px;
}

.balance {
    display: grid;
    grid-template-columns: repeat(2, auto) 30%;

}

.path, .hobbies {
    padding : 20px;

    background-color: rgb(238, 238, 238);

    

}

.path {
    margin-left : 13px;
    
}
.hobbies{
    margin-right: 13px;
}

.separator {
    background-color: rgb(68, 68, 68);
    
    border-radius : 100%;
    width : 10px;
    height : auto;
    margin-left : 10px;
    margin-right : 10px;
    
}

.bolder {
    font-size : 24px;
    padding-bottom: 10px;
}

@media screen and (max-width: 540px) {
    .balance {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3, auto);
    
    }

    .path {
        margin-bottom : 13px;
        margin-right: 13px;
    }
    .hobbies{
        margin-top: 13px;
        margin-left: 13px;
    }

    .separator {
        background-color: rgb(145, 125, 72);
        
        border-radius : 100%;
        height : 6px;
        width : auto;
        margin-left : 10px;
        margin-right : 10px;
        
    }
}
