.txtabt {
    margin: 40px;
}

.balance {
    display: grid;
    grid-template-columns: repeat(3, auto);

}

.path, .hobbies {
    padding : 20px;
    border: 3px solid rgb(49, 49, 49);
    border-radius: 4px;
    background-color: rgb(252, 252, 252);
}

.path {
    margin-left : 13px;
}
.hobbies{
    margin-right: 13px;
}

.separator {
    background-color: rgba(211, 170, 170, 0.623);
    border: 1.5px solid rgb(20, 20, 20);
    border-radius : 10%;
    width : 10px;
    height : auto;
    margin-left : 10px;
    margin-right : 10px;
    
}


@media screen and (max-width: 400px) {
    .balance{
        
    }
}
