.skillset{
    padding-bottom: 10px;
    font-size : 30px;
    text-align: center; 
}

.chri7a {
    /*
    border : 2px solid rgb(136, 136, 136);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    */

    height : fit-content;
    width : fit-content;
    display: flex;
    flex-direction: row;
    margin : 10px;
    align-items: center;
}

.bone{
    background-color: rgb(136, 136, 136);
    color: rgb(136, 136, 136);
    width: 3px;
    height : 30px;
    border : 10px;
    z-index: 10;
}

.fa{
    font-size : 30px;
    padding-right : 10px;
    padding-left: 11px;
    padding-top : 10px;
    padding-bottom : 10px;
    border : 2px solid rgb(136, 136, 136);

    
}

.skillflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction : row;
    overflow:hidden;
}

.ref {
    font-size : 20px;
    padding-right : 10px;
    padding-left: 10px;
    padding-top : 13px;
    padding-bottom : 13px;
    border : 2px solid rgb(136, 136, 136);
}