body {
    padding-top: 50px;

}

.navBar{
    background-color:/* #FFE7CC#E1CEB5*/#d4d4d4; /*#002E94*/
    width : 100vw; /*39l 39l*/
    height : 50px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 5;


}

.header{
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    /***gap: 30px;***/                  /*lass9 dyal flex - yachouti*/
    /*had l blan dyal gap kayn ta f l grid*/

    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
}

.headings{
    width: 150px;
    height: 100%;
    text-align: center;
    background-color: #c5c5c5;
    border-left : 1px solid black;
    border-right : 1px solid black;
    color : black;
    display: flex;
    justify-content: center;
    /*font-family: 2rem;*/
    align-items: center;

}

.git {
    margin-right: 1px;
}

.headings:hover{
    cursor: pointer;
}

.links{
    padding-top : 10px;
}

a {
    text-decoration: none; /*9ra 9ra*/
}

.burger {
    display : none;
}

.khobz {
    width : 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin : 1px;
}

@media (max-width: 768px) {
    .mii{flex-wrap: wrap;}
}

* {
    font-family:'Times New Roman', Times, serif
}

.mii {
    justify-content: center;
    display: flex;
    width : 70%;
    align-content: center;
    flex-direction: row;
    
    position :relative;
    
}


.mi {
    align-self: center;
    width : 350px;
    flex-grow: 1;
    background-color: #e6e6e6;
    align-self:flex-start;
    border: 1px solid black;
}

.txt {
    text-align: left;    
    align-items: center;
    padding : 20px;
}

#txt1 {
    font-family:'Courier New', Courier, monospace;
}

.cv {
    display: block;
    left : 50%;
    
}

.center{
    width : 50%;

    margin: auto;
    margin-top: 50px;
}

#texte{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 350px;
    height: 350px;

}

h2 {
    text-decoration: underline;
    padding: 
}